MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=app
MONGO_DATABASE=testdb
JWT_SECRET=your-secret-key-here
CLIENT_ORIGIN=http://localhost:3000
NODE_ENV=development
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=your-gemini-api-key-here
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
GEMINI_MODEL=gemini-3.8-flash
PORT=4000
